#id_row_form {
    opacity: 0;
    transition: all .5s ease-out;
}
.modal { 
	width: 75% !important; 
	max-height: 80% !important;
	
}
#id_row_thanks{
	opacity: 0;
    transition: all .5s ease-out;
    margin-top: 20px;
}    
@media(max-width:480px) {
	.modal{
		max-height: 65% !important;
		width: 90% !important;
	}
} 

.modal ul li {
    list-style-type: circle !important;
    margin-left: 20px;
}

#id_row_thanks .card {
    display: flex;
    align-items: center;
    justify-content: center;
}

#id_row_thanks .card form {
    max-width: 100%; /* Handles the responsive part, it will cause your form to scale with a max-width of 100% */
}


.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}